@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

.whole{
    width: 100%;
    height: 76vh;
}

.nav{
    background-color: black;
    height: 10%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    top: 0px;
}

.nav-1{
    font-size: 25px;
    font-weight: 600;
}

.nav-2 a{
    text-decoration: none;
    margin-right: 15px;
}

.nav-span{
    color: #B2B2B2;
}

@media screen and (min-width: 10px) and (max-width: 768px) {
    .company-name{
        display: none;
    }

    .nav-span{
        font-size: 14px;

    }
}

.home-cont{
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-signup-opt-cont{
    height: 25%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 30px;
    margin-top: 120px;
    margin-bottom: 30px;
}

.span-1{
    font-size: 45px;
    font-weight: 500;
}

.span-2{
    font-size: 18px;
    font-weight: 500;
}

@media screen and (min-width: 10px) and (max-width: 768px) {
    .span-1{
        font-size: 35px;
    }

    .span-2{
        font-size: 14px;
    }
}

.login-btn{
    width: 120px;
    height: 35px;
    margin-right: 20px;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.login-btn:active{
    width: 115px;
    height: 30px;
    transform: translateY(4px);
}

.signup-btn{
    width: 120px;
    height: 35px;
    margin-right: 20px;
    background-color: transparent;
    border: 2px solid black;
    outline: none;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.signup-btn:active{
    width: 115px;
    height: 30px;
    transform: translateY(4px);
}

.img-cont{

    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;

}

.img{
    width: 540px;
    height: 390px;

}

.active{
    color: lightskyblue;
}

.btn-container{
    margin-top: 20px;
}

@media screen and (min-width: 10px) and (max-width: 768px) {
    .login-signup-opt-cont{
        align-items: center;
        width: 100%;
    }

    .img-cont{
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .hamburger{
        display: none !important; 
    }
}